<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
          <img src=" {{ site.baseurl }}public/NishantKumar.png" alt="Nishant Kumar" class="sidebar__profile-img">
      </a>
      <h1 class="sidebar__profile-name">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p>
       7 + years of experience working as a software professional with substantial experience in various programming languages, frameworks, and architectures thereby building scalable software products and services.

Along with technology development, I am interested in product management, analytics, cloud computing, Big Data, Education, and startups.

I value creativity, innovation, and leadership. I am always on the lookout for technology inclined people who want to work on innovative startup ideas!

Specialties: - Building scalable products and services - Hiring & Mentoring software engineers - Building high-performance team - Ideating, building and growing products - Agile development process & SDLC - Designing & Architecting medium to large-scale systems - Create and contribute to open source software - Customer focused, data and metrics-driven product development - Good at connecting with people and building organizational values - Entrepreneurial spirit
        Tech Author @<a href="https://developer.mozilla.org/en-US/profiles/callmefool" target="_blank">Mozila</a>
      </p>
    </div>

    <div class="sidebar__profile-social">
<iframe src="https://ghbtns.com/github-btn.html?user=nishant8BITS&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </div>

   <nav class="sidebar__profile-nav">
          <ul>
            <li>
              <a href="/">
                Posts-
              </a>
            </li><!--
            --><li>
              <a href="/about.html">
                About
              </a>
            </li><!--
            --><li>
              <a href="/atom.xml">
                RSS
              </a>
            </li><!--
            --><li>
              <a href="//in.linkedin.com/in/nishantkumar1">
                Linkedin
              </a>
            </li><!--
            --><li>
              <a href="//twitter.com/mfssharma">
                Twitter
              </a>
            </li>
          </ul>
        </nav>
  </div>
</div>
