<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
          <img src=" {{ site.baseurl }}public/NishantKumar.png" alt="Nishant Kumar" class="sidebar__profile-img">
      </a>
      <h1 class="sidebar__profile-name">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p>
        UI Engineering @<a href="http://intellibus.com" target="_blank">Cloud Startup</a>, 
        JavaScript, AngularJS, Node.JS Expert. 
        Tech Author @<a href="https://developer.mozilla.org/en-US/profiles/callmefool" target="_blank">Mozila</a>
      </p>
    </div>

    <div class="sidebar__profile-social">
<iframe src="https://ghbtns.com/github-btn.html?user=nishant8BITS&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </div>

   <nav class="sidebar__profile-nav">
          <ul>
            <li>
              <a href="/">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="/about">
                About
              </a>
            </li><!--
            --><li>
              <a href="/feed.xml">
                RSS
              </a>
            </li><!--
            --><li>
              <a href="//in.linkedin.com/in/nishantkumar1">
                Linkedin
              </a>
            </li><!--
            --><li>
              <a href="//twitter.com/mfssharma">
                Twitter
              </a>
            </li>
          </ul>
        </nav>

  </div>
</div>
